<div class ="col-xs-2 gif-score img-responsive">
  <% if user_signed_in? && !current_user.upvoted?(gif) %>
    <%= link_to upvote_path(:id => gif.id), :remote => true, :method => :post do %>
      <i class="glyphicon glyphicon-chevron-up"></i>
    <% end %>
  <% end %>
  <h4><%= gif.score %></h4>
  <% if user_signed_in? && !current_user.downvoted?(gif) %>
    <%= link_to downvote_path(:id => gif.id), :remote => true, :method => :post do %>
      <i class="glyphicon glyphicon-chevron-down"></i>
    <% end %>
  <% end %>
</div>
