<% if user_signed_in? %>
  <%= link_to 'New Gif', new_gif_path, :class => "btn btn-primary", :remote => true, "data-toggle" => "modal", "data-target" => "#newGif" %>
<% end %>
<%= render :partial => 'gifs/form', :layout => 'layouts/modal', :locals => {:title => "A new gif!", :id => "newGif"} %>

<div id="gifs-list" class="row">
  <%= render :partial => 'gif', :locals => {:gifs => @gifs}%>
</div>
